http://files.fast.ai/part2/lesson14/rossmann.tgz

In [1]:
%matplotlib inline

In [3]:
import math, keras, datetime, pandas as pd, numpy as np, keras.backend as K
import matplotlib.pyplot as plt, xgboost, operator, random, pickle

/home/ubuntu/.conda/envs/dev/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [6]:
from isoweek import Week
from pandas_summary import DataFrameSummary

## create dataset

In [8]:
table_names = ['train', 'store', 'store_states', 'state_names', 
               'googletrend', 'weather', 'test']
tables = [pd.read_csv('data/'+fname+'.csv', low_memory=False) for fname in table_names]

In [9]:
from IPython.display import HTML

In [10]:
for t in tables: display(t.head())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

   Store State
0      1    HE
1      2    TH
2      3    NW
3      4    BE
4      5    SN

           StateName State
0  BadenWuerttemberg    BW
1             Bayern    BY
2             Berlin    BE
3        Brandenburg    BB
4             Bremen    HB

             file                     week  trend
0  Rossmann_DE_SN  2012-12-02 - 2012-12-08     96
1  Rossmann_DE_SN  2012-12-09 - 2012-12-15     95
2  Rossmann_DE_SN  2012-12-16 - 2012-12-22     91
3  Rossmann_DE_SN  2012-12-23 - 2012-12-29     48
4  Rossmann_DE_SN  2012-12-30 - 2013-01-05     67

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,31.0,12.0,4.0,39,26,58.0,5.08,6.0,Rain,215
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,31.0,14.0,10.0,24,16,NaN,0.00,6.0,Rain,225
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,31.0,8.0,2.0,26,21,NaN,1.02,7.0,Rain,240
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,11.0,5.0,2.0,23,14,NaN,0.25,7.0,Rain,263
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,10.0,6.0,3.0,16,10,NaN,0.00,7.0,Rain,268

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [11]:
for t in tables: display(DataFrameSummary(t).summary())

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
count,1.01721e+06,1.01721e+06,NaN,1.01721e+06,1.01721e+06,1.01721e+06,1.01721e+06,NaN,1.01721e+06
mean,558.43,3.99834,NaN,5773.82,633.146,0.830107,0.381515,NaN,0.178647
std,321.909,1.99739,NaN,3849.93,464.412,0.375539,0.485759,NaN,0.383056
min,1,1,NaN,0,0,0,0,NaN,0
25%,280,2,NaN,3727,405,1,0,NaN,0
50%,558,4,NaN,5744,609,1,0,NaN,0
75%,838,6,NaN,7856,837,1,1,NaN,0
max,1115,7,NaN,41551,7388,1,1,NaN,1
counts,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209,1017209
uniques,1115,7,942,21734,4086,2,2,4,2
missing,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,numeric,numeric,categorical,numeric,numeric,bool,bool,categorical,bool

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
count,1115,NaN,NaN,1112,761,761,1115,571,571,NaN
mean,558,NaN,NaN,5404.9,7.2247,2008.67,0.512108,23.5954,2011.76,NaN
std,322.017,NaN,NaN,7663.17,3.21235,6.19598,0.500078,14.142,1.67494,NaN
min,1,NaN,NaN,20,1,1900,0,1,2009,NaN
25%,279.5,NaN,NaN,717.5,4,2006,0,13,2011,NaN
50%,558,NaN,NaN,2325,8,2010,1,22,2012,NaN
75%,836.5,NaN,NaN,6882.5,10,2013,1,37,2013,NaN
max,1115,NaN,NaN,75860,12,2015,1,50,2015,NaN
counts,1115,1115,1115,1112,761,761,1115,571,571,571
uniques,1115,4,3,654,12,23,2,24,7,3
missing,0,0,0,3,354,354,0,544,544,544
missing_perc,0%,0%,0%,0.27%,31.75%,31.75%,0%,48.79%,48.79%,48.79%
types,numeric,categorical,categorical,numeric,numeric,numeric,bool,numeric,numeric,categorical

                Store        State
count            1115          NaN
mean              558          NaN
std           322.017          NaN
min                 1          NaN
25%             279.5          NaN
50%               558          NaN
75%             836.5          NaN
max              1115          NaN
counts           1115         1115
uniques          1115           12
missing             0            0
missing_perc       0%           0%
types         numeric  categorical

             StateName   State
count               16      16
unique              16      16
top             Bayern      HB
freq                 1       1
counts              16      16
uniques             16      16
missing              0       0
missing_perc        0%      0%
types           unique  unique

                     file         week    trend
count                 NaN          NaN     2072
mean                  NaN          NaN  63.8142
std                   NaN          NaN  12.6502
min                   NaN          NaN        0
25%                   NaN          NaN       55
50%                   NaN          NaN       64
75%                   NaN          NaN       72
max                   NaN          NaN      100
counts               2072         2072     2072
uniques                14          148       68
missing                 0            0        0
missing_perc           0%           0%       0%
types         categorical  categorical  numeric

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Max_VisibilityKm,Mean_VisibilityKm,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees
count,NaN,NaN,15840,15840,15840,15840,15840,15840,15840,15840,...,15459,15459,15459,15840,15840,3604,15840,14667,NaN,15840
mean,NaN,NaN,14.6441,10.389,6.19899,8.58782,6.20581,3.62614,93.6596,74.2829,...,24.0576,12.2398,7.02516,22.7666,11.9722,48.8643,0.831718,5.55131,NaN,175.897
std,NaN,NaN,8.64601,7.37926,6.52639,6.24478,6.08677,6.12839,7.67853,13.4866,...,8.9768,5.06794,4.9806,8.98862,5.87284,13.027,2.51351,1.68771,NaN,101.589
min,NaN,NaN,-11,-13,-15,-14,-15,-73,44,30,...,0,0,0,3,2,21,0,0,NaN,-1
25%,NaN,NaN,8,4,1,4,2,-1,90.75,65,...,14,10,3,16,8,39,0,5,NaN,80
50%,NaN,NaN,15,11,7,9,7,4,94,76,...,31,11,7,21,11,48,0,6,NaN,202
75%,NaN,NaN,21,16,11,13,11,8,100,85,...,31,14,10,27,14,55,0.25,7,NaN,256
max,NaN,NaN,39,31,24,25,20,19,100,100,...,31,31,31,101,53,111,58.93,8,NaN,360
counts,15840,15840,15840,15840,15840,15840,15840,15840,15840,15840,...,15459,15459,15459,15840,15840,3604,15840,14667,11889,15840
uniques,16,990,51,45,40,40,36,40,53,71,...,24,32,24,44,29,47,41,9,21,362
missing,0,0,0,0,0,0,0,0,0,0,...,381,381,381,0,0,12236,0,1173,3951,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,...,2.41%,2.41%,2.41%,0%,0%,77.25%,0%,7.41%,24.94%,0%
types,categorical,categorical,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,...,numeric,numeric,numeric,numeric,numeric,numeric,numeric,numeric,categorical,numeric

,Id,Store,DayOfWeek,Date,Open,Promo,StateHoliday,SchoolHoliday
count,41088,41088,41088,NaN,41077,41088,NaN,41088
mean,20544.5,555.9,3.97917,NaN,0.854322,0.395833,NaN,0.443487
std,11861.2,320.274,2.01548,NaN,0.352787,0.489035,NaN,0.496802
min,1,1,1,NaN,0,0,NaN,0
25%,10272.8,279.75,2,NaN,1,0,NaN,0
50%,20544.5,553.5,4,NaN,1,0,NaN,0
75%,30816.2,832.25,6,NaN,1,1,NaN,1
max,41088,1115,7,NaN,1,1,NaN,1
counts,41088,41088,41088,41088,41077,41088,41088,41088
uniques,41088,856,7,48,2,2,2,2
missing,0,0,0,0,11,0,0,0
missing_perc,0%,0%,0%,0%,0.03%,0%,0%,0%
types,numeric,numeric,numeric,categorical,bool,bool,bool,bool

## data cleaning / feature engineering

In [12]:
train, store, store_states, state_names, googletrend, weather, test = tables

In [13]:
len(train),len(test)

(1017209, 41088)

In [14]:
train.StateHoliday = train.StateHoliday!='0'
test.StateHoliday = test.StateHoliday!='0'

In [15]:
def join_df(left, right, left_on, right_on=None):
    if right_on is None: right_on = left_on
    return left.merge(right, how='left', left_on=left_on, right_on=right_on, 
                      suffixes=("", "_y"))

In [16]:
weather = join_df(weather, state_names, "file", "StateName")

In [17]:
weather

,file,Date,Max_TemperatureC,Mean_TemperatureC,Min_TemperatureC,Dew_PointC,MeanDew_PointC,Min_DewpointC,Max_Humidity,Mean_Humidity,...,Min_VisibilitykM,Max_Wind_SpeedKm_h,Mean_Wind_SpeedKm_h,Max_Gust_SpeedKm_h,Precipitationmm,CloudCover,Events,WindDirDegrees,StateName,State
0,NordrheinWestfalen,2013-01-01,8,4,2,7,5,1,94,87,...,4.0,39,26,58.0,5.08,6.0,Rain,215,NordrheinWestfalen,NW
1,NordrheinWestfalen,2013-01-02,7,4,1,5,3,2,93,85,...,10.0,24,16,NaN,0.00,6.0,Rain,225,NordrheinWestfalen,NW
2,NordrheinWestfalen,2013-01-03,11,8,6,10,8,4,100,93,...,2.0,26,21,NaN,1.02,7.0,Rain,240,NordrheinWestfalen,NW
3,NordrheinWestfalen,2013-01-04,9,9,8,9,9,8,100,94,...,2.0,23,14,NaN,0.25,7.0,Rain,263,NordrheinWestfalen,NW
4,NordrheinWestfalen,2013-01-05,8,8,7,8,7,6,100,94,...,3.0,16,10,NaN,0.00,7.0,Rain,268,NordrheinWestfalen,NW
5,NordrheinWestfalen,2013-01-06,9,8,7,8,7,6,100,92,...,5.0,16,11,NaN,0.00,7.0,Rain,258,NordrheinWestfalen,NW
6,NordrheinWestfalen,2013-01-07,9,8,7,8,7,5,98,88,...,2.0,16,10,NaN,0.00,7.0,Rain,238,NordrheinWestfalen,NW
7,NordrheinWestfalen,2013-01-08,8,7,5,6,5,4,100,87,...,3.0,21,13,NaN,0.00,7.0,Rain,230,NordrheinWestfalen,NW
8,NordrheinWestfalen,2013-01-09,6,6,5,6,4,3,100,91,...,2.0,21,14,NaN,4.06,8.0,Rain,222,NordrheinWestfalen,NW
9,NordrheinWestfalen,2013-01-10,6,4,3,4,3,1,96,86,...,6.0,16,11,NaN,0.00,6.0,Rain,256,NordrheinWestfalen,NW
10,NordrheinWestfalen,2013-01-11,2,-1,-3,2,-3,-5,100,85,...,9.0,21,8,NaN,0.00,4.0,Fog-Rain-Snow,1,NordrheinWestfalen,NW
11,NordrheinWestfalen,2013-01-12,2,-2,-7,-3,-6,-8,100,79,...,10.0,16,6,NaN,0.00,2.0,NaN,106,NordrheinWestfalen,NW
12,NordrheinWestfalen,2013-01-13,1,-3,-6,-3,-6,-8,86,75,...,10.0,21,11,NaN,0.00,4.0,NaN,47,NordrheinWestfalen,NW
13,NordrheinWestfalen,2013-01-14,-2,-3,-5,-2,-5,-8,99,85,...,2.0,23,8,NaN,0.00,6.0,Snow,273,NordrheinWestfalen,NW
14,NordrheinWestfalen,2013-01-15,-1,-4,-7,-2,-4,-7,100,86,...,1.0,27,18,NaN,0.76,7.0,Snow,88,NordrheinWestfalen,NW
15,NordrheinWestfalen,2013-01-16,-3,-3,-4,-3,-4,-5,99,91,...,2.0,14,11,NaN,0.25,7.0,Snow,348,NordrheinWestfalen,NW
16,NordrheinWestfalen,2013-01-17,-2,-3,-4,-3,-4,-6,94,88,...,3.0,16,10,NaN,0.00,7.0,Rain-Snow,353,NordrheinWestfalen,NW
17,NordrheinWestfalen,2013-01-18,0,-2,-5,-3,-4,-7,94,82,...,8.0,21,11,NaN,0.00,6.0,Fog-Snow,64,NordrheinWestfalen,NW
18,NordrheinWestfalen,2013-01-19,-3,-4,-5,-5,-7,-9,80,74,...,10.0,26,18,NaN,0.00,7.0,NaN,61,NordrheinWestfalen,NW
19,NordrheinWestfalen,2013-01-20,0,-3,-7,-2,-6,-9,94,84,...,1.0,24,19,NaN,2.03,7.0,Rain-Snow,55,NordrheinWestfalen,NW
20,NordrheinWestfalen,2013-01-21,0,-1,-2,-1,-2,-3,100,91,...,2.0,16,11,NaN,0.00,7.0,Snow,118,NordrheinWestfalen,NW
21,NordrheinWestfalen,2013-01-22,1,-1,-3,-2,-3,-4,94,86,...,5.0,11,6,NaN,0.00,7.0,Snow,11,NordrheinWestfalen,NW
22,NordrheinWestfalen,2013-01-23,-1,-2,-3,-3,-4,-6,90,80,...,5.0,14,8,NaN,0.00,6.0,Snow,17,NordrheinWestfalen,NW
23,NordrheinWestfalen,2013-01-24,-2,-4,-6,-4,-6,-8,93,82,...,6.0,21,13,NaN,0.00,6.0,NaN,21,NordrheinWestfalen,NW
24,NordrheinWestfalen,2013-01-25,-2,-2,-3,-3,-4,-6,95,83,...,1.0,23,8,40.0,0.00,7.0,Fog-Rain-Snow,80,NordrheinWestfalen,NW
25,NordrheinWestfalen,2013-01-26,0,-2,-4,-1,-4,-6,100,81,...,3.0,34,24,48.0,0.00,7.0,Rain-Snow,158,NordrheinWestfalen,NW
26,NordrheinWestfalen,2013-01-27,4,2,-1,3,1,-2,95,86,...,5.0,35,21,53.0,3.05,7.0,Rain-Snow,174,NordrheinWestfalen,NW
27,NordrheinWestfalen,2013-01-28,6,3,0,3,2,-1,93,84,...,10.0,32,18,NaN,0.25,6.0,Rain,190,NordrheinWestfalen,NW
28,NordrheinWestfalen,2013-01-29,12,8,3,10,8,3,96,88,...,6.0,45,31,61.0,6.10,7.0,Rain,216,NordrheinWestfalen,NW
29,NordrheinWestfalen,2013-01-30,13,11,9,11,8,4,94,79,...,5.0,47,32,60.0,3.05,5.0,Rain-Thunderstorm,233,NordrheinWestfalen,NW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15810,Saarland,2015-08-19,22,14,8,12,8,6,100,66,...,3.0,14,5,NaN,0.00,3.0,Fog,81,Saarland,SL
15811,Saarland,2015-08-20,25,18,11,13,9,5,94,58,...,10.0,10,5,NaN,0.00,1.0,NaN,48,Saarland,SL
15812,Saarland,2015-08-21,26,19,12,12,10,7,82,57,...,31.0,14,10,NaN,0.00,NaN,NaN,72,Saarland,SL
15813,Saarland,2015-08-22,26,19,13,12,8,5,72,49,...,31.0,21,13,NaN,0.00,NaN,NaN,75,Saarland,SL
15814,Saarland,2015-08-23,27,20,13,17,11,6,97,61,...,4.0,37,14,55.0,7.11,6.0,Rain,124,Saarland,SL
15815,Saarland,2015-08-24,19,17,15,17,14,9,98,83,...,3.0,32,13,48.0,7.11,6.0,Rain,177,Saarland,SL
15816,Saarland,2015-08-25,21,17,12,10,8,5,77,57,...,10.0,40,27,64.0,0.00,5.0,Rain,231,Saarland,SL
15817,Saarland,2015-08-26,26,19,12,13,9,7,72,51,...,10.0,21,13,NaN,0.00,5.0,NaN,186,Saarland,SL
15818,Saarland,2015-08-27,29,23,18,17,13,10,94,55,...,10.0,29,14,39.0,0.00,7.0,Rain,224,Saarland,SL
15819,Saarland,2015-08-28,19,18,16,18,17,15,100,93,...,2.0,18,11,NaN,5.08,7.0,Rain,266,Saarland,SL
15820,Saarland,2015-08-29,30,22,15,20,17,15,100,74,...,0.0,13,8,NaN,0.00,5.0,Fog,88,Saarland,SL
15821,Saarland,2015-08-30,32,25,18,19,16,12,96,58,...,26.0,19,10,NaN,0.00,NaN,NaN,183,Saarland,SL
15822,Saarland,2015-08-31,31,25,19,14,12,9,60,40,...,NaN,34,13,50.0,0.00,NaN,NaN,222,Saarland,SL
15823,Saarland,2015-09-01,21,18,14,18,15,12,99,83,...,1.0,34,8,NaN,5.08,5.0,Rain,281,Saarland,SL
15824,Saarland,2015-09-02,20,15,10,13,11,7,100,79,...,0.0,14,5,NaN,0.00,5.0,Fog-Rain,305,Saarland,SL
15825,Saarland,2015-09-03,20,15,10,13,9,5,94,68,...,10.0,23,8,NaN,0.00,4.0,NaN,272,Saarland,SL
15826,Saarland,2015-09-04,18,12,7,9,7,5,96,71,...,10.0,26,8,NaN,0.00,4.0,NaN,269,Saarland,SL
15827,Saarland,2015-09-05,16,10,5,9,7,5,100,76,...,6.0,24,10,NaN,0.25,6.0,Fog-Rain,278,Saarland,SL
15828,Saarland,2015-09-06,16,11,7,9,6,4,97,74,...,10.0,19,13,NaN,0.00,5.0,Rain,299,Saarland,SL
15829,Saarland,2015-09-07,16,10,5,11,8,4,99,82,...,7.0,14,6,NaN,0.25,6.0,Rain,291,Saarland,SL
15830,Saarland,2015-09-08,19,14,9,11,9,7,95,72,...,8.0,18,8,NaN,0.00,4.0,NaN,49,Saarland,SL
15831,Saarland,2015-09-09,20,14,9,11,7,5,93,65,...,10.0,23,16,NaN,0.00,2.0,NaN,61,Saarland,SL
15832,Saarland,2015-09-10,20,14,8,7,4,2,76,53,...,10.0,26,18,42.0,0.00,1.0,NaN,62,Saarland,SL
15833,Saarland,2015-09-11,21,14,7,8,6,2,87,58,...,10.0,21,13,NaN,0.00,6.0,NaN,71,Saarland,SL
15834,Saarland,2015-09-12,23,17,10,16,11,5,94,69,...,10.0,21,11,NaN,1.02,6.0,Rain,185,Saarland,SL
15835,Saarland,2015-09-13,21,17,12,16,14,12,100,88,...,10.0,27,10,50.0,1.02,7.0,Rain,113,Saarland,SL
15836,Saarland,2015-09-14,18,14,11,15,12,7,99,85,...,4.0,32,16,53.0,9.91,5.0,Rain-Thunderstorm,213,Saarland,SL
15837,Saarland,2015-09-15,16,12,9,11,8,7,93,77,...,10.0,34,14,NaN,0.00,5.0,Rain,193,Saarland,SL
15838,Saarland,2015-09-16,19,15,11,16,13,10,97,90,...,4.0,32,14,45.0,20.07,7.0,Rain-Thunderstorm,147,Saarland,SL
15839,Saarland,2015-09-17,14,13,12,14,12,10,99,92,...,8.0,27,16,47.0,6.10,6.0,Rain,202,Saarland,SL

In [18]:
googletrend['Date'] = googletrend.week.str.split(' - ', expand=True)[0]
googletrend['State'] = googletrend.file.str.split('_', expand=True)[2]
googletrend.loc[googletrend.State=='NI', "State"] = 'HB,NI'

In [19]:
googletrend

                file                     week  trend        Date State
0     Rossmann_DE_SN  2012-12-02 - 2012-12-08     96  2012-12-02    SN
1     Rossmann_DE_SN  2012-12-09 - 2012-12-15     95  2012-12-09    SN
2     Rossmann_DE_SN  2012-12-16 - 2012-12-22     91  2012-12-16    SN
3     Rossmann_DE_SN  2012-12-23 - 2012-12-29     48  2012-12-23    SN
4     Rossmann_DE_SN  2012-12-30 - 2013-01-05     67  2012-12-30    SN
5     Rossmann_DE_SN  2013-01-06 - 2013-01-12     71  2013-01-06    SN
6     Rossmann_DE_SN  2013-01-13 - 2013-01-19     53  2013-01-13    SN
7     Rossmann_DE_SN  2013-01-20 - 2013-01-26     58  2013-01-20    SN
8     Rossmann_DE_SN  2013-01-27 - 2013-02-02     55  2013-01-27    SN
9     Rossmann_DE_SN  2013-02-03 - 2013-02-09     55  2013-02-03    SN
10    Rossmann_DE_SN  2013-02-10 - 2013-02-16     58  2013-02-10    SN
11    Rossmann_DE_SN  2013-02-17 - 2013-02-23     65  2013-02-17    SN
12    Rossmann_DE_SN  2013-02-24 - 2013-03-02     48  2013-02-24    SN
13    Rossmann_DE_SN  2013-03-03 - 2013-03-09     51  2013-03-03    SN
14    Rossmann_DE_SN  2013-03-10 - 2013-03-16     50  2013-03-10    SN
15    Rossmann_DE_SN  2013-03-17 - 2013-03-23     58  2013-03-17    SN
16    Rossmann_DE_SN  2013-03-24 - 2013-03-30     54  2013-03-24    SN
17    Rossmann_DE_SN  2013-03-31 - 2013-04-06     55  2013-03-31    SN
18    Rossmann_DE_SN  2013-04-07 - 2013-04-13     64  2013-04-07    SN
19    Rossmann_DE_SN  2013-04-14 - 2013-04-20     47  2013-04-14    SN
20    Rossmann_DE_SN  2013-04-21 - 2013-04-27     51  2013-04-21    SN
21    Rossmann_DE_SN  2013-04-28 - 2013-05-04     47  2013-04-28    SN
22    Rossmann_DE_SN  2013-05-05 - 2013-05-11     57  2013-05-05    SN
23    Rossmann_DE_SN  2013-05-12 - 2013-05-18     64  2013-05-12    SN
24    Rossmann_DE_SN  2013-05-19 - 2013-05-25     54  2013-05-19    SN
25    Rossmann_DE_SN  2013-05-26 - 2013-06-01     67  2013-05-26    SN
26    Rossmann_DE_SN  2013-06-02 - 2013-06-08     45  2013-06-02    SN
27    Rossmann_DE_SN  2013-06-09 - 2013-06-15     55  2013-06-09    SN
28    Rossmann_DE_SN  2013-06-16 - 2013-06-22     67  2013-06-16    SN
29    Rossmann_DE_SN  2013-06-23 - 2013-06-29     56  2013-06-23    SN
...              ...                      ...    ...         ...   ...
2042  Rossmann_DE_SL  2015-03-08 - 2015-03-14     60  2015-03-08    SL
2043  Rossmann_DE_SL  2015-03-15 - 2015-03-21     61  2015-03-15    SL
2044  Rossmann_DE_SL  2015-03-22 - 2015-03-28     80  2015-03-22    SL
2045  Rossmann_DE_SL  2015-03-29 - 2015-04-04     61  2015-03-29    SL
2046  Rossmann_DE_SL  2015-04-05 - 2015-04-11     67  2015-04-05    SL
2047  Rossmann_DE_SL  2015-04-12 - 2015-04-18     58  2015-04-12    SL
2048  Rossmann_DE_SL  2015-04-19 - 2015-04-25     67  2015-04-19    SL
2049  Rossmann_DE_SL  2015-04-26 - 2015-05-02     86  2015-04-26    SL
2050  Rossmann_DE_SL  2015-05-03 - 2015-05-09     70  2015-05-03    SL
2051  Rossmann_DE_SL  2015-05-10 - 2015-05-16     77  2015-05-10    SL
2052  Rossmann_DE_SL  2015-05-17 - 2015-05-23     77  2015-05-17    SL
2053  Rossmann_DE_SL  2015-05-24 - 2015-05-30     78  2015-05-24    SL
2054  Rossmann_DE_SL  2015-05-31 - 2015-06-06     95  2015-05-31    SL
2055  Rossmann_DE_SL  2015-06-07 - 2015-06-13     90  2015-06-07    SL
2056  Rossmann_DE_SL  2015-06-14 - 2015-06-20    100  2015-06-14    SL
2057  Rossmann_DE_SL  2015-06-21 - 2015-06-27     70  2015-06-21    SL
2058  Rossmann_DE_SL  2015-06-28 - 2015-07-04     83  2015-06-28    SL
2059  Rossmann_DE_SL  2015-07-05 - 2015-07-11     53  2015-07-05    SL
2060  Rossmann_DE_SL  2015-07-12 - 2015-07-18     53  2015-07-12    SL
2061  Rossmann_DE_SL  2015-07-19 - 2015-07-25     50  2015-07-19    SL
2062  Rossmann_DE_SL  2015-07-26 - 2015-08-01     69  2015-07-26    SL
2063  Rossmann_DE_SL  2015-08-02 - 2015-08-08     88  2015-08-02    SL
2064  Rossmann_DE_SL  2015-08-09 - 2015-08-15     68  2015-08-09    SL
2065  Rossmann_DE_SL  2015-08-16 - 2015-08-22     81  2015-08-16    SL
2066  Rossmann_DE_SL  2015-08-23 - 2015-08-29     48  2015-08-23    SL
2067  Rossmann_DE_SL  2015-08-30 - 2015-09-05     95  2015-08-30    SL
2068  Rossmann_DE_SL  2015-09-06 - 2015-09-12     47  2015-09-06    SL
2069  Rossmann_DE_SL  2015-09-13 - 2015-09-19     80  2015-09-13    SL
2070  Rossmann_DE_SL  2015-09-20 - 2015-09-26     57  2015-09-20    SL
2071  Rossmann_DE_SL  2015-09-27 - 2015-10-03      0  2015-09-27    SL

[2072 rows x 5 columns]

In [20]:
def add_datepart(df):
    df.Date = pd.to_datetime(df.Date)
    df["Year"] = df.Date.dt.year
    df["Month"] = df.Date.dt.month
    df["Week"] = df.Date.dt.week
    df["Day"] = df.Date.dt.day

In [21]:
add_datepart(weather)
add_datepart(googletrend)
add_datepart(train)
add_datepart(test)

In [22]:
trend_de = googletrend[googletrend.file == 'Rossmann_DE']

In [23]:
store = join_df(store, store_states, "Store")
len(store[store.State.isnull()])

0

In [45]:
store

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,State
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN,HE
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",TH
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN,BE
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN,SN
5,6,a,a,310.0,12.0,2013.0,0,NaN,NaN,NaN,SN
6,7,a,c,24000.0,4.0,2013.0,0,NaN,NaN,NaN,SH
7,8,a,a,7520.0,10.0,2014.0,0,NaN,NaN,NaN,SH
8,9,a,c,2030.0,8.0,2000.0,0,NaN,NaN,NaN,NW
9,10,a,a,3160.0,9.0,2009.0,0,NaN,NaN,NaN,"HB,NI"
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct",SH
11,12,a,c,1070.0,NaN,NaN,1,13.0,2010.0,"Jan,Apr,Jul,Oct",SH
12,13,d,a,310.0,NaN,NaN,1,45.0,2009.0,"Feb,May,Aug,Nov",BY
13,14,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",NW
14,15,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",SH
15,16,a,c,3270.0,NaN,NaN,0,NaN,NaN,NaN,BW
16,17,a,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct",TH
17,18,d,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct",TH
18,19,a,c,3240.0,NaN,NaN,1,22.0,2011.0,"Mar,Jun,Sept,Dec",NW
19,20,d,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
20,21,c,c,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct",BW
21,22,a,a,1040.0,NaN,NaN,1,22.0,2012.0,"Jan,Apr,Jul,Oct",BY
22,23,d,a,4060.0,8.0,2005.0,0,NaN,NaN,NaN,RP
23,24,a,c,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",NW
24,25,c,a,430.0,4.0,2003.0,0,NaN,NaN,NaN,NW
25,26,d,a,2300.0,NaN,NaN,0,NaN,NaN,NaN,TH
26,27,a,a,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct",NW
27,28,a,a,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec",ST
28,29,d,c,2170.0,NaN,NaN,0,NaN,NaN,NaN,NW
29,30,a,a,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec",NW
...,...,...,...,...,...,...,...,...,...,...,...
1085,1086,a,a,180.0,11.0,2013.0,1,18.0,2011.0,"Feb,May,Aug,Nov",HE
1086,1087,d,c,2210.0,11.0,2011.0,0,NaN,NaN,NaN,"HB,NI"
1087,1088,a,a,4300.0,3.0,2009.0,1,27.0,2013.0,"Jan,Apr,Jul,Oct",NW
1088,1089,d,a,5220.0,5.0,2009.0,0,NaN,NaN,NaN,NW
1089,1090,a,a,330.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct",SN
1090,1091,a,c,9990.0,NaN,NaN,0,NaN,NaN,NaN,SH
1091,1092,a,a,300.0,7.0,2000.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
1092,1093,c,c,10450.0,6.0,2009.0,0,NaN,NaN,NaN,SN
1093,1094,d,a,2380.0,3.0,2013.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
1094,1095,a,a,690.0,6.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",TH
1095,1096,a,c,1130.0,NaN,NaN,1,10.0,2014.0,"Mar,Jun,Sept,Dec",NW
1096,1097,b,b,720.0,3.0,2002.0,0,NaN,NaN,NaN,RP
1097,1098,a,a,1830.0,11.0,2004.0,0,NaN,NaN,NaN,SN
1098,1099,a,c,200.0,4.0,2013.0,1,14.0,2013.0,"Jan,Apr,Jul,Oct",SH
1099,1100,a,a,540.0,NaN,NaN,1,14.0,2011.0,"Jan,Apr,Jul,Oct",NW
1100,1101,d,c,4060.0,9.0,2012.0,0,NaN,NaN,NaN,SH
1101,1102,a,a,850.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",BY
1102,1103,d,c,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov",HE
1103,1104,d,a,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",BY
1104,1105,c,c,330.0,11.0,2008.0,1,5.0,2013.0,"Feb,May,Aug,Nov",NW
1105,1106,a,c,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",SH
1106,1107,a,a,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",BY
1107,1108,a,a,540.0,4.0,2004.0,0,NaN,NaN,NaN,SN
1108,1109,c,a,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct",BY
1109,1110,c,c,900.0,9.0,2010.0,0,NaN,NaN,NaN,BE
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",NW
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN,NW
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN,SH
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN,HH
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec",HE

In [24]:
joined = join_df(train, store, "Store")
len(joined[joined.StoreType.isnull()])

0

In [25]:
joined = join_df(joined, googletrend, ["State","Year", "Week"])
len(joined[joined.trend.isnull()])

0

In [26]:
joined = joined.merge(trend_de, 'left', ["Year", "Week"], suffixes=('', '_DE'))
len(joined[joined.trend_DE.isnull()])

0

In [27]:
joined = join_df(joined, weather, ["State","Date"])
len(joined[joined.Mean_TemperatureC.isnull()])

0

In [28]:
joined_test = test.merge(store, how='left', left_on='Store', right_index=True)
len(joined_test[joined_test.StoreType.isnull()])

48

In [29]:
joined.CompetitionOpenSinceYear = joined.CompetitionOpenSinceYear.fillna(1900).astype(np.int32)
joined.CompetitionOpenSinceMonth = joined.CompetitionOpenSinceMonth.fillna(1).astype(np.int32)
joined.Promo2SinceYear = joined.Promo2SinceYear.fillna(1900).astype(np.int32)
joined.Promo2SinceWeek = joined.Promo2SinceWeek.fillna(1).astype(np.int32)

In [30]:
joined["CompetitionOpenSince"] = pd.to_datetime(joined.apply(lambda x: datetime.datetime(
    x.CompetitionOpenSinceYear, x.CompetitionOpenSinceMonth, 15), axis=1).astype(pd.datetime))
joined["CompetitionDaysOpen"] = joined.Date.subtract(joined["CompetitionOpenSince"]).dt.days

In [31]:
joined.loc[joined.CompetitionDaysOpen<0, "CompetitionDaysOpen"] = 0
joined.loc[joined.CompetitionOpenSinceYear<1990, "CompetitionDaysOpen"] = 0

In [32]:
joined["CompetitionMonthsOpen"] = joined["CompetitionDaysOpen"]//30
joined.loc[joined.CompetitionMonthsOpen>24, "CompetitionMonthsOpen"] = 24
joined.CompetitionMonthsOpen.unique()

array([24,  3, 19,  9,  0, 16, 17,  7, 15, 22, 11, 13,  2, 23, 12,  4, 10,
        1, 14, 20,  8, 18,  6, 21,  5])

In [33]:
joined["Promo2Since"] = pd.to_datetime(joined.apply(lambda x: Week(
    x.Promo2SinceYear, x.Promo2SinceWeek).monday(), axis=1).astype(pd.datetime))
joined["Promo2Days"] = joined.Date.subtract(joined["Promo2Since"]).dt.days

In [34]:
joined.loc[joined.Promo2Days<0, "Promo2Days"] = 0
joined.loc[joined.Promo2SinceYear<1990, "Promo2Days"] = 0

In [35]:
joined["Promo2Weeks"] = joined["Promo2Days"]//7
joined.loc[joined.Promo2Weeks<0, "Promo2Weeks"] = 0
joined.loc[joined.Promo2Weeks>25, "Promo2Weeks"] = 25
joined.Promo2Weeks.unique()

array([ 0, 25, 17,  8, 13, 24, 16,  7, 12, 23, 15,  6, 11, 22, 14,  5, 10,
       21,  4,  9, 20,  3, 19,  2, 18,  1])

## durations

In [36]:
columns = ["Date", "Store", "Promo", "StateHoliday", "SchoolHoliday"]

In [37]:
class elapsed(object):
    def __init__(self, fld):
        self.fld = fld
        self.last = pd.to_datetime(np.nan)
        self.last_store = 0
        
    def get(self, row):
        if row.Store != self.last_store:
            self.last = pd.to_datetime(np.nan)
            self.last_store = row.Store
        if (row[self.fld]): self.last = row.Date
        return row.Date-self.last

In [38]:
df = train[columns]

In [39]:
def add_elapsed(fld, prefix):
    sh_el = elapsed(fld)
    df[prefix+fld] = df.apply(sh_el.get, axis=1)

In [40]:
fld = 'SchoolHoliday'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

In [41]:
fld = 'StateHoliday'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

In [42]:
fld = 'Promo'
df = df.sort_values(['Store', 'Date'])
add_elapsed(fld, 'After')
df = df.sort_values(['Store', 'Date'], ascending=[True, False])
add_elapsed(fld, 'Before')

In [43]:
df = df.set_index("Date")

In [44]:
columns = ['SchoolHoliday', 'StateHoliday', 'Promo']

In [46]:
for o in ['Before', 'After']:
    for p in columns:
        a = o+p
        df[a] = df[a].fillna(pd.Timedelta(0)).dt.days

In [47]:
bwd = df[['Store']+columns].sort_index().groupby("Store").rolling(7, min_periods=1).sum()

In [48]:
fwd = df[['Store']+columns].sort_index(ascending=False
                                      ).groupby("Store").rolling(7, min_periods=1).sum()

In [49]:
bwd.drop('Store',1,inplace=True)
bwd.reset_index(inplace=True)

In [50]:
fwd.drop('Store',1,inplace=True)
fwd.reset_index(inplace=True)

In [51]:
df.reset_index(inplace=True)

In [52]:
df = df.merge(bwd, 'left', ['Date', 'Store'], suffixes=['', '_bw'])
df = df.merge(fwd, 'left', ['Date', 'Store'], suffixes=['', '_fw'])

In [53]:
df.drop(columns,1,inplace=True)

In [54]:
df.head()

,Date,Store,AfterSchoolHoliday,BeforeSchoolHoliday,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,2015-07-31,1,0,0,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
1,2015-07-30,1,0,0,56,0,0,0,4.0,0.0,4.0,2.0,0.0,2.0
2,2015-07-29,1,0,0,55,0,0,0,3.0,0.0,3.0,3.0,0.0,3.0
3,2015-07-28,1,0,0,54,0,0,0,2.0,0.0,2.0,4.0,0.0,4.0
4,2015-07-27,1,0,0,53,0,0,0,1.0,0.0,1.0,5.0,0.0,5.0

In [55]:
df.to_csv('df.csv')

In [66]:
df = pd.read_csv('df.csv', index_col=0)

/home/ubuntu/.conda/envs/dev/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  Parameters

In [67]:
df["Date"] = pd.to_datetime(df.Date)

In [68]:
df.columns

Index(['Date', 'Store', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday', 'BeforeStateHoliday', 'AfterPromo', 'BeforePromo',
       'SchoolHoliday_bw', 'StateHoliday_bw', 'Promo_bw', 'SchoolHoliday_fw',
       'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1017209 entries, 0 to 1017208
Data columns (total 14 columns):
Date                   1017209 non-null datetime64[ns]
Store                  1017209 non-null int64
AfterSchoolHoliday     1017209 non-null int64
BeforeSchoolHoliday    1017209 non-null int64
AfterStateHoliday      1017209 non-null int64
BeforeStateHoliday     1017209 non-null int64
AfterPromo             1017209 non-null int64
BeforePromo            1017209 non-null int64
SchoolHoliday_bw       1017209 non-null float64
StateHoliday_bw        1017209 non-null float64
Promo_bw               1017209 non-null float64
SchoolHoliday_fw       1017209 non-null float64
StateHoliday_fw        1017209 non-null float64
Promo_fw               1017209 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(7)
memory usage: 116.4 MB

In [71]:
joined = join_df(joined, df, ['Store', 'Date'])

In [72]:
joined.to_csv('joined.csv')

In [73]:
joined

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,AfterStateHoliday,BeforeStateHoliday,AfterPromo,BeforePromo,SchoolHoliday_bw,StateHoliday_bw,Promo_bw,SchoolHoliday_fw,StateHoliday_fw,Promo_fw
0,1,5,2015-07-31,5263,555,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
1,2,5,2015-07-31,6064,625,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
2,3,5,2015-07-31,8314,821,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
3,4,5,2015-07-31,13995,1498,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
4,5,5,2015-07-31,4822,559,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
5,6,5,2015-07-31,5651,589,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
6,7,5,2015-07-31,15344,1414,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
7,8,5,2015-07-31,8492,833,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
8,9,5,2015-07-31,8565,687,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
9,10,5,2015-07-31,7185,681,1,1,False,1,2015,...,67,0,0,0,7.0,0.0,5.0,1.0,0.0,1.0
10,11,5,2015-07-31,10457,1236,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
11,12,5,2015-07-31,8959,962,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
12,13,5,2015-07-31,8821,568,1,1,False,0,2015,...,57,0,0,0,0.0,0.0,5.0,0.0,0.0,1.0
13,14,5,2015-07-31,6544,710,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
14,15,5,2015-07-31,9191,766,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
15,16,5,2015-07-31,10231,979,1,1,False,1,2015,...,57,0,0,0,2.0,0.0,5.0,1.0,0.0,1.0
16,17,5,2015-07-31,8430,946,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
17,18,5,2015-07-31,10071,936,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
18,19,5,2015-07-31,8234,718,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
19,20,5,2015-07-31,9593,974,1,1,False,0,2015,...,57,0,0,0,0.0,0.0,5.0,0.0,0.0,1.0
20,21,5,2015-07-31,9515,682,1,1,False,1,2015,...,57,0,0,0,2.0,0.0,5.0,1.0,0.0,1.0
21,22,5,2015-07-31,6566,633,1,1,False,0,2015,...,57,0,0,0,0.0,0.0,5.0,0.0,0.0,1.0
22,23,5,2015-07-31,7273,560,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
23,24,5,2015-07-31,14190,1082,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
24,25,5,2015-07-31,14180,1586,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
25,26,5,2015-07-31,7818,611,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
26,27,5,2015-07-31,13213,1263,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
27,28,5,2015-07-31,7301,663,1,1,False,1,2015,...,67,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
28,29,5,2015-07-31,9411,737,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
29,30,5,2015-07-31,4776,625,1,1,False,1,2015,...,57,0,0,0,5.0,0.0,5.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017179,1086,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,7.0,1.0,1.0
1017180,1087,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017181,1088,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017182,1089,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017183,1090,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,2.0,1.0,1.0
1017184,1091,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017185,1092,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,2.0,1.0
1017186,1093,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,2.0,1.0,1.0
1017187,1094,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,2.0,1.0
1017188,1095,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017189,1096,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017190,1097,2,2013-01-01,5961,1405,1,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017191,1098,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,2.0,1.0,1.0
1017192,1099,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017193,1100,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017194,1101,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017195,1102,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,2.0,1.0
1017196,1103,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,7.0,1.0,1.0
1017197,1104,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,2.0,1.0
1017198,1105,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017199,1106,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017200,1107,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,2.0,1.0
1017201,1108,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,2.0,1.0,1.0
1017202,1109,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,2.0,1.0
1017203,1110,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017204,1111,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017205,1112,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017206,1113,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017207,1114,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,4.0,1.0,1.0
1017208,1115,2,2013-01-01,0,0,0,0,True,1,2013,...,0,0,0,-6,1.0,1.0,0.0,7.0,1.0,1.0

In [74]:
joined = pd.read_csv('joined.csv', index_col=0)
joined["Date"] = pd.to_datetime(joined.Date)
joined.columns

/home/ubuntu/.conda/envs/dev/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  Parameters

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval', 'State', 'file',
       'week', 'trend', 'Date_y', 'Month_y', 'Day_y', 'file_DE', 'week_DE',
       'trend_DE', 'Date_DE', 'State_DE', 'Month_DE', 'Day_DE', 'file_y',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
       'StateName', 'Year_y', 'Month_y.1', 'Week_y', 'Day_y.1',
       'CompetitionOpenSince', 'CompetitionDaysOpen', 'CompetitionMonthsOpen',
       'Promo2Since', 'Promo2Days', 'Promo2Weeks', 'AfterSchoolHoliday',
       'BeforeSchoolHoliday', 'AfterStateHoliday', 'BeforeStateHoliday',
       'AfterPromo', 'BeforePromo', 'SchoolHoliday_bw', 'StateHoliday_bw',
       'Promo_bw', 'SchoolHoliday_fw', 'StateHoliday_fw', 'Promo_fw'],
      dtype='object')

## create features

In [76]:
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelEncoder, Imputer, StandardScaler

In [77]:
cat_var_dict = {'Store': 50, 'DayOfWeek': 6, 'Year': 2, 'Month': 6,
'Day': 10, 'StateHoliday': 3, 'CompetitionMonthsOpen': 2,
'Promo2Weeks': 1, 'StoreType': 2, 'Assortment': 3, 'PromoInterval': 3,
'CompetitionOpenSinceYear': 4, 'Promo2SinceYear': 4, 'State': 6,
'Week': 2, 'Events': 4, 'Promo_fw': 1,
'Promo_bw': 1, 'StateHoliday_fw': 1,
'StateHoliday_bw': 1, 'SchoolHoliday_fw': 1,
'SchoolHoliday_bw': 1}

In [78]:
cat_vars = [o[0] for o in 
            sorted(cat_var_dict.items(), key=operator.itemgetter(1), reverse=True)]

In [79]:
cat_vars

['Store',
 'Day',
 'DayOfWeek',
 'Month',
 'State',
 'CompetitionOpenSinceYear',
 'Promo2SinceYear',
 'Events',
 'StateHoliday',
 'Assortment',
 'PromoInterval',
 'Year',
 'CompetitionMonthsOpen',
 'StoreType',
 'Week',
 'Promo2Weeks',
 'Promo_fw',
 'Promo_bw',
 'StateHoliday_fw',
 'StateHoliday_bw',
 'SchoolHoliday_fw',
 'SchoolHoliday_bw']

In [80]:
contin_vars = ['CompetitionDistance', 
   'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
   'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 'Max_Wind_SpeedKm_h', 
   'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 'trend_DE',
   'AfterStateHoliday', 'BeforeStateHoliday', 'Promo', 'SchoolHoliday']

In [81]:
for v in contin_vars: joined.loc[joined[v].isnull(), v] = 0
for v in cat_vars: joined.loc[joined[v].isnull(), v] = ""

In [82]:
cat_maps = [(o, LabelEncoder()) for o in cat_vars]
contin_maps = [([o], StandardScaler()) for o in contin_vars]

In [83]:
cat_mapper = DataFrameMapper(cat_maps)
cat_map_fit = cat_mapper.fit(joined)
cat_cols = len(cat_map_fit.features)
cat_cols

22

In [84]:
contin_mapper = DataFrameMapper(contin_maps)
contin_map_fit = contin_mapper.fit(joined)
contin_cols = len(contin_map_fit.features)
contin_cols

/home/ubuntu/.conda/envs/dev/lib/python3.6/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

16

In [85]:
cat_map_fit.transform(joined)[0,:5], contin_map_fit.transform(joined)[0,:5]

/home/ubuntu/.conda/envs/dev/lib/python3.6/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

(array([ 0, 30,  4,  6,  4]),
 array([-0.53772351,  1.02444552,  0.81863226,  0.32504749,  0.61112004]))

In [86]:
pickle.dump(contin_map_fit, open('contin_maps.pickle', 'wb'))
pickle.dump(cat_map_fit, open('cat_maps.pickle', 'wb'))

In [87]:
[len(o[1].classes_) for o in cat_map_fit.features]

[1115, 31, 7, 12, 12, 23, 8, 22, 2, 3, 4, 3, 25, 4, 52, 26, 6, 6, 3, 3, 8, 8]

## sample

In [88]:
joined_sales = joined[joined.Sales!=0]
n = len(joined_sales)

In [89]:
n

844338

In [90]:
samp_size = 100000
np.random.seed(42)
idxs = sorted(np.random.choice(n, samp_size, replace=False))

In [91]:
joined_samp = joined_sales.iloc[idxs].set_index("Date")

In [92]:
samp_size = n
joined_samp = joined_sales.set_index("Date")

In [93]:
train_ratio = 0.9
train_size = int(samp_size * train_ratio)

In [94]:
train_size

759904

In [95]:
joined_valid = joined_samp[train_size:]
joined_train = joined_samp[:train_size]
len(joined_valid), len(joined_train)

(84434, 759904)

In [96]:
def cat_preproc(dat):
    return cat_map_fit.transform(dat).astype(np.int64)

In [97]:
cat_map_train = cat_preproc(joined_train)
cat_map_valid = cat_preproc(joined_valid)

In [98]:
def contin_preproc(dat):
    return contin_map_fit.transform(dat).astype(np.float32)

In [99]:
contin_map_train = contin_preproc(joined_train)
contin_map_valid = contin_preproc(joined_valid)

/home/ubuntu/.conda/envs/dev/lib/python3.6/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [100]:
y_train_orig = joined_train.Sales
y_valid_orig = joined_valid.Sales

In [101]:
max_log_y = np.max(np.log(joined_samp.Sales))
y_train = np.log(y_train_orig)/max_log_y
y_valid = np.log(y_valid_orig)/max_log_y

In [102]:
def rmspe(y_pred, targ = y_valid_orig):
    pct_var = (targ - y_pred)/targ
    return math.sqrt(np.square(pct_var).mean())

In [103]:
def log_max_inv(preds, mx = max_log_y):
    return np.exp(preds * mx)

In [104]:
def normalize_inv(preds):
    return preds * ystd + ymean

## create models

In [105]:
def split_cols(arr): return np.hsplit(arr,arr.shape[1])

In [106]:
map_train = split_cols(cat_map_train) + [contin_map_train]
map_valid = split_cols(cat_map_valid) + [contin_map_valid]

In [107]:
len(map_train)

23

In [110]:
map_train = split_cols(cat_map_train) + split_cols(contin_map_train)
map_valid = split_cols(cat_map_valid) + split_cols(contin_map_valid)

(759904, 16)

In [111]:
def cat_map_info(feat): return feat[0], len(feat[1].classes_)

In [112]:
cat_map_info(cat_map_fit.features[1])

('Day', 31)

In [123]:
def my_init(scale):
    return lambda shape, name=None: uniform(shape, scale=scale, name=name)

In [124]:
def emb_init(shape, name=None): 
    return uniform(shape, scale=2/(shape[1]+1), name=name)

In [127]:
def get_emb(feat):
    name, c = cat_map_info(feat)
    #c2 = cat_var_dict[name]
    c2 = (c+1)//2
    if c2>50: c2=50
    inp = Input((1,), dtype='int64', name=name+'_in')
    # , W_regularizer=l2(1e-6)
    u = Flatten(name=name+'_flt')(Embedding(c, c2, input_length=1)(inp))
#     u = Flatten(name=name+'_flt')(Embedding(c, c2, input_length=1)(inp))
    return inp,u

In [128]:
def get_contin(feat):
    name = feat[0][0]
    inp = Input((1,), name=name+'_in')
    return inp, Dense(1, name=name+'_d')(inp)

In [130]:
from keras.layers import *
from keras.initializers import *
from keras.models import Model

In [119]:
contin_inp = Input((contin_cols,), name='contin')
contin_out = Dense(contin_cols*10, activation='relu', name='contin_d')(contin_inp)
#contin_out = BatchNormalization()(contin_out)

In [134]:
embs = [get_emb(feat) for feat in cat_map_fit.features]
#conts = [get_contin(feat) for feat in contin_map_fit.features]
#contin_d = [d for inp,d in conts]
x = concatenate([emb for inp,emb in embs] + [contin_out])
#x = merge([emb for inp,emb in embs] + contin_d, mode='concat')

x = Dropout(0.02)(x)
x = Dense(1000, activation='relu')(x)
x = Dense(500, activation='relu')(x)
x = Dropout(0.2)(x)
x = Dense(1, activation='sigmoid')(x)

model = Model([inp for inp,emb in embs] + [contin_inp], x)
#model = Model([inp for inp,emb in embs] + [inp for inp,d in conts], x)
model.compile('adam', 'mean_absolute_error')
#model.compile(Adam(), 'mse')

## start training

In [135]:
hist = model.fit(map_train, y_train, batch_size=128, epochs=25,
                 verbose=1, validation_data=(map_valid, y_valid))

Train on 759904 samples, validate on 84434 samples
Epoch 1/25
759904/759904 [==============================] - 105s - loss: 0.0120 - val_loss: 0.0115
Epoch 2/25
759904/759904 [==============================] - 102s - loss: 0.0081 - val_loss: 0.0104
Epoch 3/25
759904/759904 [==============================] - 102s - loss: 0.0071 - val_loss: 0.0102
Epoch 4/25
759904/759904 [==============================] - 102s - loss: 0.0067 - val_loss: 0.0105
Epoch 5/25
759904/759904 [==============================] - 102s - loss: 0.0066 - val_loss: 0.0099
Epoch 6/25
759904/759904 [==============================] - 102s - loss: 0.0064 - val_loss: 0.0100
Epoch 7/25
759904/759904 [==============================] - 102s - loss: 0.0063 - val_loss: 0.0104
Epoch 8/25
759904/759904 [==============================] - 102s - loss: 0.0062 - val_loss: 0.0098
Epoch 9/25
759904/759904 [==============================] - 102s - loss: 0.0062 - val_loss: 0.0097
Epoch 10/25
759904/759904 [==============================] - 102s - loss: 0.0061 - val_loss: 0.0100
Epoch 11/25
759904/759904 [==============================] - 102s - loss: 0.0061 - val_loss: 0.0100
Epoch 12/25
759904/759904 [==============================] - 102s - loss: 0.0060 - val_loss: 0.0101
Epoch 13/25
759904/759904 [==============================] - 102s - loss: 0.0060 - val_loss: 0.0101
Epoch 14/25
759904/759904 [==============================] - 102s - loss: 0.0060 - val_loss: 0.0104
Epoch 15/25
759904/759904 [==============================] - 102s - loss: 0.0060 - val_loss: 0.0100
Epoch 16/25
759904/759904 [==============================] - 102s - loss: 0.0059 - val_loss: 0.0100
Epoch 17/25
759904/759904 [==============================] - 102s - loss: 0.0059 - val_loss: 0.0100
Epoch 18/25
759904/759904 [==============================] - 102s - loss: 0.0059 - val_loss: 0.0101
Epoch 19/25
759904/759904 [==============================] - 102s - loss: 0.0059 - val_loss: 0.0099
Epoch 20/25
759904/759904 [==============================] - 102s - loss: 0.0059 - val_loss: 0.0097
Epoch 21/25
759904/759904 [==============================] - 102s - loss: 0.0058 - val_loss: 0.0100
Epoch 22/25
759904/759904 [==============================] - 102s - loss: 0.0058 - val_loss: 0.0102
Epoch 23/25
759904/759904 [==============================] - 102s - loss: 0.0058 - val_loss: 0.0102
Epoch 24/25
759904/759904 [==============================] - 102s - loss: 0.0058 - val_loss: 0.0100
Epoch 25/25
759904/759904 [==============================] - 102s - loss: 0.0058 - val_loss: 0.0101